In [1]:
import pandas as pd

In [4]:
df1= pd.read_csv("Chocolate Sales2.csv")
df1

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",NaN
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94.0
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91.0
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",NaN
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184.0
...,...,...,...,...,...,...
1089,Karlen McCaffrey,Australia,Spicy Special Slims,17-May-22,"$4,410",323.0
1090,Jehu Rudeforth,USA,White Choc,07-Jun-22,"$6,559",119.0
1091,Ches Bonnell,Canada,Organic Choco Syrup,26-Jul-22,$574,217.0
1092,Dotty Strutley,India,Eclairs,28-Jul-22,"$2,086",384.0
1093,Karlen McCaffrey,India,70% Dark Bites,23-May-22,"$5,075",344.0

# 1) head() 
ilk 5 satırı getirir

In [5]:
print(df1.head())

     Sales Person    Country              Product       Date    Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            NaN
1           94.0
2           91.0
3            NaN
4          184.0

# 2) tail()
son 5 satırı getirir.

In [6]:
print(df1.tail())

          Sales Person    Country              Product       Date   Amount  \
1089  Karlen McCaffrey  Australia  Spicy Special Slims  17-May-22  $4,410
1090    Jehu Rudeforth        USA           White Choc  07-Jun-22  $6,559
1091      Ches Bonnell     Canada  Organic Choco Syrup  26-Jul-22    $574
1092    Dotty Strutley      India              Eclairs  28-Jul-22  $2,086
1093  Karlen McCaffrey      India       70% Dark Bites  23-May-22  $5,075

      Boxes Shipped
1089          323.0
1090          119.0
1091          217.0
1092          384.0
1093          344.0

# 3) info()
DataFrame hakkında bilgi verir.

In [7]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1086 non-null   object
 2   Product        1084 non-null   object
 3   Date           1085 non-null   object
 4   Amount         1083 non-null   object
 5   Boxes Shipped  1087 non-null   float64
dtypes: float64(1), object(5)
memory usage: 51.4+ KB
None

# 4) describe()
Sayısal sütunlar için özet istatistik

In [9]:
print(df1.describe())

       Boxes Shipped
count    1087.000000
mean      162.062557
std       121.593191
min         1.000000
25%        70.000000
50%       135.000000
75%       229.000000
max       709.000000

# 5) shape
satır ve sütun sayısını döndürür.

In [11]:
print(df1.shape)

(1094, 6)

# 6) columns
sütun isimlerini listeler

In [12]:
print(df1.columns)

Index(['Sales Person', 'Country', 'Product', 'Date', 'Amount',
       'Boxes Shipped'],
      dtype='object')

# 7) drop
Belirtilen sütunu veya satırı siler

In [13]:
df1=df1.drop(columns=['Country'])
print(df1)

          Sales Person              Product       Date    Amount  \
0       Jehu Rudeforth      Mint Chip Choco  04-Jan-22   $5,320
1          Van Tuxwell        85% Dark Bars  01-Aug-22   $7,896
2         Gigi Bohling  Peanut Butter Cubes  07-Jul-22   $4,501
3         Jan Morforth  Peanut Butter Cubes  27-Apr-22  $12,726
4       Jehu Rudeforth  Peanut Butter Cubes  24-Feb-22  $13,685
...                ...                  ...        ...       ...
1089  Karlen McCaffrey  Spicy Special Slims  17-May-22   $4,410
1090    Jehu Rudeforth           White Choc  07-Jun-22   $6,559
1091      Ches Bonnell  Organic Choco Syrup  26-Jul-22     $574
1092    Dotty Strutley              Eclairs  28-Jul-22   $2,086
1093  Karlen McCaffrey       70% Dark Bites  23-May-22   $5,075

      Boxes Shipped
0               NaN
1              94.0
2              91.0
3               NaN
4             184.0
...             ...
1089          323.0
1090          119.0
1091          217.0
1092          384.0
1093          344.0

[1094 rows x 5 columns]

# 8) isnull()
Eksik degerleri kontrol eder.

In [14]:
print(df1.isnull().sum())

Sales Person      0
Product          10
Date              9
Amount           11
Boxes Shipped     7
dtype: int64

# 9) fillna() 
Eksik degerleri doldurur.

In [15]:
df1['Sales Person']=df1['Sales Person'].fillna(0)
print(df1)

          Sales Person              Product       Date    Amount  \
0       Jehu Rudeforth      Mint Chip Choco  04-Jan-22   $5,320
1          Van Tuxwell        85% Dark Bars  01-Aug-22   $7,896
2         Gigi Bohling  Peanut Butter Cubes  07-Jul-22   $4,501
3         Jan Morforth  Peanut Butter Cubes  27-Apr-22  $12,726
4       Jehu Rudeforth  Peanut Butter Cubes  24-Feb-22  $13,685
...                ...                  ...        ...       ...
1089  Karlen McCaffrey  Spicy Special Slims  17-May-22   $4,410
1090    Jehu Rudeforth           White Choc  07-Jun-22   $6,559
1091      Ches Bonnell  Organic Choco Syrup  26-Jul-22     $574
1092    Dotty Strutley              Eclairs  28-Jul-22   $2,086
1093  Karlen McCaffrey       70% Dark Bites  23-May-22   $5,075

      Boxes Shipped
0               NaN
1              94.0
2              91.0
3               NaN
4             184.0
...             ...
1089          323.0
1090          119.0
1091          217.0
1092          384.0
1093          344.0

[1094 rows x 5 columns]

# 10) sort_values()
Belirli bir sütuna göre sıralama yapar.

In [ ]:
df1=df1.sort_values()